@import url('https://raw.githubusercontent.com/tonsky/FiraCode/fixed/distr/fira_code.css');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&family=Roboto+Mono&display=swap');
/*--------------------------------------------------------------------------
  Formatting for page & standard document content
/*--------------------------------------------------------------------------*/

:root {
    --fsdocs-text-color:#f1f1f1;
    --fsdocs-pre-border-color: #1c1c1c;
    --fsdocs-pre-border-color-top: #1c1c1c;
    --fsdocs-pre-background-color: #1c1c1c;
    --fsdocs-pre-color: #e2e2e2;
    --fsdocs-table-pre-background-color: #232323;
    --fsdocs-table-pre-color: #c9c9c9;

    --fsdocs-code-strings-color: #f5b3f1;
    --fsdocs-code-printf-color: #E0C57F;
    --fsdocs-code-escaped-color: #EA8675;
    --fsdocs-code-identifiers-color: var(--fsdocs-text-color);
    --fsdocs-code-module-color: #bcdfe8;
    --fsdocs-code-reference-color: #bcdfe8;
    --fsdocs-code-value-color: #5892a4;
    --fsdocs-code-interface-color: #5892a4;
    --fsdocs-code-typearg-color: #5892a4;
    --fsdocs-code-disposable-color: #3f6975;
    --fsdocs-code-property-color: #7ed1ea;
    --fsdocs-code-punctuation-color: #7ed1ea;
    --fsdocs-code-punctuation2-color: #e1e1e1;
    --fsdocs-code-function-color: #e1e1e1;
    --fsdocs-code-function2-color: #43AEC6;
    --fsdocs-code-activepattern-color: #4ec9b0;
    --fsdocs-code-unioncase-color: #4ec9b0;
    --fsdocs-code-enumeration-color: #4ec9b0;
    --fsdocs-code-keywords-color: #f5d8b3;
    --fsdocs-code-comment-color: #c9e8bc;
    --fsdocs-code-operators-color: #d8b3f5;
    --fsdocs-code-numbers-color: #b3f5b7;
    --fsdocs-code-linenumbers-color: #80b0b0;
    --fsdocs-code-mutable-color: #997f0c;
    --fsdocs-code-inactive-color: #919191;
    --fsdocs-code-preprocessor-color: #cebce8;
    --fsdocs-code-fsioutput-color: #919191;
    --fsdocs-code-tooltip-color: #cdcdcd;

    --fsdocs-content-text-color: #Ffffff;
}

.fsdocs-source-link img {
    -webkit-filter: grayscale(100%) brightness(1) invert(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) brightness(1) invert(1);
}
